@import url('https://fonts.googleapis.com/css2?family=Playwrite+AU+SA:wght@100..400&family=Quantico:ital,wght@0,400;0,700;1,400;1,700&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  font-family: 'Quantico', 'Playwrite AU SA', sans-serif;
}
.placeholder-color{
  color: #e0e0e0; 
  font-weight: 300;
}